<%- include ('header') -%>
      <div class="logo">
        <a href="/">
           <img class="img-logo" src="images/justfidel2.svg" alt="logo">
          <p>Weather-App
        </a></p> 
       
      </div>

      <div class="container">

            <form action="/" method="post">
                <label for="cityInput">Enter City Name</label>
                <input type="text" name="cityName" id="cityInput" placeholder="E.g Lagos">
                <button type="submit">Go</button>
            </form>  


            
<%- include ('footer') -%>