@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsla(166, 60%, 81%, 0.884);
    color: rgb(58, 55, 55);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor:auto;
}

.container {
    padding-top: 5%;
    margin: 0 4em;
}

form {
    margin: 0 auto;
    text-align: center;

}

input {
    height: 2.5em;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1em 1.5em;
    margin: 5px auto;
    min-width: 250px;
    box-shadow: 2px 3px #d1d0d077;
}

button {
    display: inline-block;
    background: rgb(34, 156, 34);
    color: aliceblue;
    font-weight: bold;
    height: 2.5em;
    width: 5em;
    padding: auto 1.5em;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 2px 3px #d1d0d077;
    border: 1px solid rgb(224, 222, 222);
}

footer {
    text-align: center;
    margin-top: 100%;
}

p {
    color: rgb(146, 143, 143);
}

/* ::placeholder {

} */

a {
    text-decoration: none;
    color: rgba(27, 126, 27, 0.856);
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4% 4%;
    position: relative; 
    left: -31%;
    top: -5%;
}

.img-logo {
    width: 1.5em;
}

.weather {

    text-align: center;

}

.weather img {
    width: 9.5em;
}

.weather h1 {
    color: rgba(27, 126, 27, 0.856);
    font-size: 1.5em;
}

.weather p {

    font-size: 1.1em;
    margin-bottom: 20px;
}

@media (max-width: 575px) {
    a {
        font-size: 1em;
        font-weight: bold;
        margin-left: 10px;
    }

    .logo {
        margin: 7% 6%;
        text-align: center;
        left: 0;
        top: 5%;
    }

    .container {
        padding-top: 25%;
        margin: 0 4em;
    }

    footer {
        text-align: center;
        margin-top: 70%;
    }
    
}